header {
    background-color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: violet;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}

.nav-menu-link {
    padding: 8px 12px;

}

.nav-menu-link:hover {
    background-color: #024070;
    border-radius: 10px;
}

.violeta {
    background-color: #CEB4D5;
    padding: 40px;
}

.contacto {
    padding: 20px;
}

.contacto h2 {
    text-align: center;
    color: black;
}

.contacto p {
    text-align: center;
    color: black;
}

.form {
    background-color: white;
    padding: 50px;
    color: black;
}

.pie {
    text-align: center;
    background-color: skyblue;
    padding: 10px;
    color: white;
}